body 
{
    background-color: white;
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center ;
    justify-content: center;
    font-family: "Poppins";
    overflow-x: hidden;
    overflow-y: hidden;
}

input
{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 2px black ;
    font-family: 'Poppins';
    transition: all .3s ease-in-out;
}

input[type="number"] {
    padding: 0.5rem;
    font-size: 1.3rem;
    color: white;
}

button
{
    text-align: center;
    border: none;
    outline: none;
}

button:hover, button:active, button:focus
{
    border: none;
}

.next 
{
    position: relative;
    right: -100px;
}

.nexti
{
    position: relative;
    right: -25px;
}

.result
{
    align-items: center;
    justify-content: center;

}

.result h3 
{
    color: white;
}

.help-content
{
    color: white;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
}

.help-content ul 
{
    margin-bottom: 5px;
}

.help-content ul li 
{
    list-style: none;
}

.help-content strong
{
    font-size: 1.2rem;
}

.help-content p 
{
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
}

.help-button 
{
    margin-bottom: 20px;
    background-color: black;
    color: white;
}